<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%style{%d}{bright,blue} %highlight{%-5p}%highlight{ %c{1.} [%t] %m%n%rEx}{FATAL=bright red, ERROR=bright red, WARN=bright yellow, INFO=Normal, DEBUG=Normal, TRACE=Normal}"/>
        </Console>
    </Appenders>
    <Loggers>
        <AsyncLogger name="io.nitor" level="trace"/>
        <AsyncLogger name="org.shredzone.acme4j" level="trace"/>
        <AsyncRoot level="trace">
            <AppenderRef ref="CONSOLE"/>
        </AsyncRoot>
    </Loggers>
</Configuration>
